@model WeatherLocationDetailsViewModel

<div class="row align-items-center">
    <div class="d-flex justify-content-center gap-3">
        <button class="btn btn-primary celcius-toggle-button" type="button">Show in Celcius</button>
        <button class="btn btn-primary fahrenheit-toggle-button" type="button">Show in Fahrenheit</button>
    </div>
    <div class="col-sm-6 col-12 weather-location-detail">
        <img src="@Model.IconUrl" alt="Icon for @Model.Type" width="100" height="100">
        <p><b>@Model.Type</b></p>
    </div>
    <div class="col-sm-6 col-12 weather-location-detail">
        <h1 class="celcius-value"><b>@Model.CurrentTempC.ToString("N2")</b><span>&#8451;</span></h1>
        <h1 class="fahrenheit-value"><b>@Model.CurrentTempF.ToString("N2")</b><span>&#8457;</span></h1>
    </div>
    <div class="col-lg-4 col-12 weather-location-detail">
        <p>Feels like</p>
        <p class="celcius-value"><b>@Model.FeelsLikeTempC.ToString("N2")</b><span>&#8451;</span></p>
        <p class="fahrenheit-value"><b>@Model.FeelsLikeTempF.ToString("N2")</b><span>&#8457;</span></p>
    </div>
    <div class="col-lg-4 col-sm-6 col-12 weather-location-detail">
        <p>Minimum temperature</p>
        <p class="celcius-value"><b>@Model.MinTempC.ToString("N2")</b><span>&#8451;</span></p>
        <p class="fahrenheit-value"><b>@Model.MinTempF.ToString("N2")</b><span>&#8457;</span></p>
    </div>
    <div class="col-lg-4 col-sm-6 col-12 weather-location-detail">
        <p>Maximum temperature</p>
        <p class="celcius-value"><b>@Model.MaxTempC.ToString("N2")</b><span>&#8451;</span></p>
        <p class="fahrenheit-value"><b>@Model.MaxTempF.ToString("N2")</b><span>&#8457;</span></p>
    </div>
    <div class="col-lg-3 col-sm-6 col-12 weather-location-detail">
        <p>Humidity</p>
        <p><b>@Model.Humidity<span>&#37;</span></b></p>
    </div>
    <div class="col-lg-3 col-sm-6 col-12 weather-location-detail">
        <p>Pressure</p>
        <p><b>@Model.Pressure mb</b></p>
    </div>
    <div class="col-lg-3 col-sm-6 col-12 weather-location-detail">
        <p>Sunrise</p>
        <p><b>@Model.SunriseTime</b></p>
    </div>
    <div class="col-lg-3 col-sm-6 col-12 weather-location-detail">
        <p>Sunset</p>
        <p><b>@Model.SunsetTime</b></p>
    </div>
</div>